#hero {
    background-image: url('imgs/hero2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.hero-bg {
  filter: brightness(0.45) saturate(0.65);
}

.hero-overlay {
  background: linear-gradient(
    to bottom,
    rgba(2,6,23,0.65),
    rgba(2,6,23,0.9)
  );
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #060c1d;
}

html {
    scroll-behavior: smooth;
}